/* It serves as a standard for everything we style such as google fonts we want to use, or other imported stuff*/
/* As you do with everything you need to import the file in your index for it to work*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
--c-blue: #0d74be; /* makes it easier to identify a color and use it somewhere else by using a name rather than hexcode*/
--ff-acme: 'Acme', sans-serif;
}